<div class="row">
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<div class="main-box infographic-box">
			<i class="fa fa-shopping-cart emerald-bg"></i>
			<span class="headline">Payments</span>
			<span class="value">
				<span class="timer" data-from="0" data-to="2562" data-speed="800" data-refresh-interval="10">
					<%= @payments.all.count %>
				</span>
			</span>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<div class="main-box infographic-box">
			<i class="fa fa-money green-bg"></i>
			<span class="headline">Revenue</span>
			<span class="value">
				<span class="timer" data-from="83" data-to="2562" data-speed="900" data-refresh-interval="60">
				  <%= number_to_currency(@revenue) %>
				</span>
			</span>
		</div>
	</div>
</div>