<div class="row">
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<div class="main-box infographic-box">
			<i class="fa fa-user red-bg"></i>
			<span class="headline">Website Visits</span>
			<span class="value">
				<span class="timer" data-from="120" data-to="2562" data-speed="1000" data-refresh-interval="50">
					2562
				</span>
			</span>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<div class="main-box infographic-box">
			<i class="fa fa-shopping-cart emerald-bg"></i>
			<span class="headline">Actions</span>
			<span class="value">
				<span class="timer" data-from="0" data-to="2562" data-speed="800" data-refresh-interval="10">
					2562
				</span>
			</span>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<div class="main-box infographic-box">
			<i class="fa fa-money green-bg"></i>
			<span class="headline">Leads</span>
			<span class="value">
				<span class="timer" data-from="83" data-to="2562" data-speed="900" data-refresh-interval="60">
				  2562
				</span>
			</span>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<div class="main-box infographic-box">
			<i class="fa fa-eye yellow-bg"></i>
			<span class="headline">Conversion</span>
			<span class="value">
				<span class="timer" data-from="0" data-to="2562" data-speed="1">
					2562
				</span>
			</span>
		</div>
	</div>
</div>