// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nps-numbers li {
	display: inline-block;
    margin: 15px;
    font-size: 18px;
}

.circle-number {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;

    font: 14px Arial, sans-serif;
}

.reds {
	background: red;
}

.yel {
	background: #E5E500;
	color: #000;
}

.gre {
	background: green;
}