<div id="login-full-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="signup-box">
					<div class="row">
						<div class="col-xs-12">
							<header id="signup-header">
								<div id="login-logo">
									<%= image_tag @company.logo %>
								</div>
							</header>
							<div id="signup-box-inner">
								<%= render 'shared/messages' %>
								<center>
									<h1>Thank you for your review and comments.<br /> We'll work to improve our company to meet your standards.</h1><br />
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>